html
head
    title Business Card Manager
    meta(http-equiv='cache-control', content='no-cache', charset='UTF-8')
    script(src='scripts/external/jquery-latest.min.js')
    script(src='scripts/external/bootstrap.min.js')
    script(type='text/javascript', src='scripts/custom/master.js')
    link(href='styles/external/bootstrap.css', rel='stylesheet', media='screen')
    link(href='styles/internal/style.css', rel='stylesheet', media='screen')
  body
    block body