html
head
    title Sales Monitor
    script(src='scripts/external/jquery-latest.min.js')
    script(src='scripts/external/bootstrap.min.js')
    block head
    link(href='styles/external/bootstrap.css', rel='stylesheet', media='screen')
    link(href='styles/external/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    link(href='styles/internal/style.css', rel='stylesheet', media='screen')

  body
  .navbar.navbar-inverse
      .navbar-inner
          .container-fluid
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand(href='#', name='top') Sales Monitor
            .nav-collapse.collapse
              ul.nav
                li
                  a(href='/main-ipad')
                    i.icon-signal.icon-white
                    | Products Stats
                li.divider-vertical
                li
                  a(href='/bricks-ipad')
                    i.icon-signal.icon-white
                    | Bricks Stats
                li.divider-vertical
                li
                  a(href='/trends-ipad')
                    i.icon-signal.icon-white
                    | Sales Trends
                li.divider-vertical
  block body