extends layout

block body
  div(style='height: 350px; width: 1100px; margin-left:5%;')
      #chartdiv(style='height: 300px;width: 540px; float: left;')
      #piediv(style='height: 300px;width: 540px; float: right;')
  .span9(style='margin-left:20%;')
      table#productSales.table.table-striped.table-condensed
          thead
            tr
              th Product Name
              th Price
              th Budget Units
              th Ach Units
              th Budget Value
              th Ach Value
              th %
          tbody


    script
      $(document).ready(function(){
       var userProfile = !{user};
       var budget = [];
       var ach = [];
       var products = [];
       var productData = "";
       var productShare = [];
       for(var key in userProfile.businessUnitId.products){
           var product = userProfile.businessUnitId.products[key];
           var temp = [];
           var budgetValue =  product.budgetUnits*product.price;
           var salesValue = product.salesUnit*product.price;
           products.push(product.productName);
           budget.push(budgetValue);
           ach.push(salesValue);
           temp.push(product.productName);
           temp.push(salesValue);
           productShare.push(temp);
           productData = productData + "<tr> \
                        <td>"+product.productName+"</td> \
                        <td>"+product.price+"</td> \
                        <td>"+product.budgetUnits+"</td> \
                        <td>"+product.salesUnit+"</td> \
                        <td>"+numeral(budgetValue).format('0,0')+"</td> \
                        <td>"+numeral(salesValue).format('0,0')+"</td> \
                        <td>"+numeral((salesValue/budgetValue)).format('0.00%')+"</td> \
                        </tr>"
       }

      $('#chartdiv').highcharts({
                  chart: {
                      type: 'column'
                  },
                  title: {
                      text: 'Budget Vs. Achievement - By Product - By Value'
                  },
                  xAxis: {
                      categories: products
                  },
                  yAxis: {
                      min: 0,
                      title: {
                          text: 'Values'
                      }
                  },
                  tooltip: {
                      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                          '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                      footerFormat: '</table>',
                      shared: true,
                      useHTML: true
                  },
                  plotOptions: {
                      column: {
                          pointPadding: 0.2,
                          borderWidth: 0
                      }
                  },
                  series: [{
                      name: 'Budget',
                      data: budget

                  }, {
                      name: 'Ach',
                      data: ach

                  }]
              });


      $('#piediv').highcharts({
          chart: {
                  plotBackgroundColor: null,
                  plotBorderWidth: null,
                  plotShadow: false
              },
              title: {
                  text: 'Product Contribution In Total Sales - By Value'
              },
              tooltip: {
                  pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                  percentageDecimals: 1
              },
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      dataLabels: {
                          enabled: false
                      },
                      showInLegend: true
                  }
              },
              series: [{
                  type: 'pie',
                  name: 'Browser share',
                  data: productShare
              }]
      });

      $('#productSales > tbody:last').append(productData);
      })