extends layout

block append head
  script(src='scripts/external/numeral.min.js')
  script(src='scripts/external/highcharts/highcharts.js')
  script(src='scripts/external/highcharts/exporting.js')
  script(src='scripts/external/highcharts/themes/gray.js')
  script(src='scripts/external/bootstrap-datepicker.js')
  link(href='styles/external/datepicker.css', rel='stylesheet', media='screen')

block body
  .container
    .row
      .span4.offset4.well
        h4 Choose Filter
        form#login(method='POST', action='/salesTrend', accept-charset='UTF-8')
          input#dp2.span4(type='text', name='startDate', placeholder='Start Date', data-date-format='mm/dd/yy')
          input#dp3.span4(type='text', name='endDate', placeholder='End Date', data-date-format='mm/dd/yy')
          button.btn.btn-info.btn-block(onclick='') Show
    div
      #chartdiv(style='height: 325px;width: 525px; float: left;')
      #unitsdiv(style='height: 325px;width: 525px; float: right;')


  script
        $(document).ready(function(){
          $('#dp2').datepicker();
          $('#dp3').datepicker();

          var sales = !{sales};
          if(sales){
            var budget = [];
            var ach = [];
            var budgetUnits = [];
            var achUnits = [];
            var months = [];
            for(var key in sales){
            var sale = sales[key];
            months.push(sale.month+"-"+sale.year);
            budget.push(sale.budgetValue);
            ach.push(sale.salesValue);
            budgetUnits.push(sale.budgetUnits);
            achUnits.push(sale.salesUnit);
            }
            var perShapeGradient = {
                              x1: 0,
                              y1: 0,
                              x2: 1,
                              y2: 0
                          };
            $('#chartdiv').highcharts({
                              chart: {
                                  type: 'line'
                              },
                              title: {
                                  text: 'Budget Vs. Achievement - By Month - By Value'
                              },
                              xAxis: {
                                  categories: months
                              },
                              yAxis: {
                                  title: {
                                      text: 'Values'
                                  }
                              },
                              plotOptions: {
                                  line: {
                                     dataLabels: {
                                        enabled: true
                                     },
                                     enableMouseTracking: false
                                  }
                              },
                              colors: [{
                                                            linearGradient: perShapeGradient,
                                                            stops: [
                                                               [0, 'rgb(136, 219, 5)'],
                                                               [1, 'rgb(112, 180, 5)']
                                                               ]
                                                            }, {
                                                            linearGradient: perShapeGradient,
                                                            stops: [
                                                                [0, 'rgb(120, 202, 248)'],
                                                                [1, 'rgb(46, 150, 208)']
                                                                ]
                                                            }
                                                        ],
                              series: [{
                                  name: 'Budget',
                                  data: budget

                              }, {
                                  name: 'Ach',
                                  data: ach

                              }]
                          });

             $('#unitsdiv').highcharts({
                                          chart: {
                                              type: 'line'
                                          },
                                          title: {
                                              text: 'Budget Vs. Achievement - By Month - By Units'
                                          },
                                          xAxis: {
                                              categories: months
                                          },
                                          yAxis: {
                                              title: {
                                                  text: 'Units'
                                              }
                                          },
                                          plotOptions: {
                                              line: {
                                                 dataLabels: {
                                                    enabled: true
                                                 },
                                                 enableMouseTracking: false
                                              }
                                          },
                                          colors: [{
                                                                        linearGradient: perShapeGradient,
                                                                        stops: [
                                                                           [0, 'rgb(136, 219, 5)'],
                                                                           [1, 'rgb(112, 180, 5)']
                                                                           ]
                                                                        }, {
                                                                        linearGradient: perShapeGradient,
                                                                        stops: [
                                                                            [0, 'rgb(120, 202, 248)'],
                                                                            [1, 'rgb(46, 150, 208)']
                                                                            ]
                                                                        }
                                                                    ],
                                          series: [{
                                              name: 'Budget',
                                              data: budgetUnits

                                          }, {
                                              name: 'Ach',
                                              data: achUnits

                                          }]
                                      });
          }
        })