extends layout

block append head
  script(src='scripts/external/numeral.min.js')
  script(src='scripts/external/highcharts/highcharts.js')
  script(src='scripts/external/highcharts/exporting.js')
  script(src='scripts/external/highcharts/themes/gray.js')
  script(src='scripts/external/bootstrap-datepicker.js')
  link(href='styles/external/datepicker.css', rel='stylesheet', media='screen')

block body
  .container
        .row
            .span4.offset4.well
              h4 Choose Filter
              form#login(method='POST', action='/salesTrend', accept-charset='UTF-8')
                input#dp2.span4(type='text', name='startDate', placeholder='Start Date', data-date-format='mm/dd/yy')
                input#dp3.span4(type='text', name='endDate', placeholder='End Date', data-date-format='mm/dd/yy')
                button.btn.btn-info.btn-block(onclick='') Show
  div(style='height: 350px; width: 1100px; margin-left:5%;')
        #chartdiv(style='height: 300px;width: 540px; float: left;')
        #unitsdiv(style='height: 300px;width: 540px; float: right;')


  script
        $(document).ready(function(){
          $('#dp2').datepicker();
          $('#dp3').datepicker();

          var sales = !{sales};
          if(sales){
            var budget = [];
            var ach = [];
            var budgetUnits = [];
            var achUnits = [];
            var months = [];
            for(var key in sales){
            var sale = sales[key];
            months.push(sale.month+"-"+sale.year);
            budget.push(sale.budgetValue);
            ach.push(sale.salesValue);
            budgetUnits.push(sale.budgetUnits);
            achUnits.push(sale.salesUnit);
            }
            var perShapeGradient = {
                              x1: 0,
                              y1: 0,
                              x2: 1,
                              y2: 0
                          };
            $('#chartdiv').highcharts({
                              chart: {
                                  type: 'column'
                              },
                              title: {
                                  text: 'Budget Vs. Achievement - By Month - By Value'
                              },
                              xAxis: {
                                  categories: months
                              },
                              yAxis: {
                                  min: 0,
                                  title: {
                                      text: 'Values'
                                  }
                              },
                              tooltip: {
                                  headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                  pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                      '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                                  footerFormat: '</table>',
                                  shared: true,
                                  useHTML: true
                              },
                              plotOptions: {
                                  column: {
                                      pointPadding: 0.2,
                                      borderWidth: 0
                                  }
                              },
                              colors: [{
                                                            linearGradient: perShapeGradient,
                                                            stops: [
                                                               [0, 'rgb(136, 219, 5)'],
                                                               [1, 'rgb(112, 180, 5)']
                                                               ]
                                                            }, {
                                                            linearGradient: perShapeGradient,
                                                            stops: [
                                                                [0, 'rgb(120, 202, 248)'],
                                                                [1, 'rgb(46, 150, 208)']
                                                                ]
                                                            }
                                                        ],
                              series: [{
                                  name: 'Budget',
                                  data: budget

                              }, {
                                  name: 'Ach',
                                  data: ach

                              }]
                          });

             $('#unitsdiv').highcharts({
                                          chart: {
                                              type: 'column'
                                          },
                                          title: {
                                              text: 'Budget Vs. Achievement - By Month - By Units'
                                          },
                                          xAxis: {
                                              categories: months
                                          },
                                          yAxis: {
                                              min: 0,
                                              title: {
                                                  text: 'Units'
                                              }
                                          },
                                          tooltip: {
                                              headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                              pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                                  '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                                              footerFormat: '</table>',
                                              shared: true,
                                              useHTML: true
                                          },
                                          plotOptions: {
                                              column: {
                                                  pointPadding: 0.2,
                                                  borderWidth: 0
                                              }
                                          },
                                          colors: [{
                                                                        linearGradient: perShapeGradient,
                                                                        stops: [
                                                                           [0, 'rgb(136, 219, 5)'],
                                                                           [1, 'rgb(112, 180, 5)']
                                                                           ]
                                                                        }, {
                                                                        linearGradient: perShapeGradient,
                                                                        stops: [
                                                                            [0, 'rgb(120, 202, 248)'],
                                                                            [1, 'rgb(46, 150, 208)']
                                                                            ]
                                                                        }
                                                                    ],
                                          series: [{
                                              name: 'Budget',
                                              data: budgetUnits

                                          }, {
                                              name: 'Ach',
                                              data: achUnits

                                          }]
                                      });
          }
        })